<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>

<body>
    <main>
        <div>
            <h1>My List</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create New List</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in name.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a>
                            </td>
                            <td>{{ todo.items.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>
